
body {
  box-sizing: border-box;
  font-family: Helvetica;
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
  font-family: Helvetica;
  padding: 0;
  margin: 0;
}

header {
  section {
    .mainHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: white;
    box-shadow: 0 0 27px #CECECE;
    width: 100%;
    height: auto;
    padding: 10px 25px;
    margin: 25px 0 50px 0px;
    
    .pageList {
      justify-content: center;
      align-items: center;
      display: flex;

       ul {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0;

      a {
        color: black;
      }

      a:hover {
        border-bottom: solid 3px black;
        text-decoration: none;
        transition: 0.5ms;
      }

      a:not(:hover) {
        transition: 1s;
      }

      

      li {
        list-style-type: none;
        padding: 0 10px;
        font-size: 17px;
      }
    }

    }
   
    .headerLogo {

       h1 {
      font-weight: 100;
      margin-bottom: 0;
      cursor: pointer;
      color: black;
    }

    a:hover {
      list-style-type: none;
      text-decoration: none;
    }

    }
   
    .numberOfGoods {
      display: flex;
      align-items: center;

      i {
        font-size: 20px;
        color: black;
      }

      #basketIcon
        i:hover {
        font-size: 23px;
        transition: 1s;
      }

      #bars {
        cursor: pointer;
      }

      i:not(:hover) {
        transition: 1s;
      }

      p {
        margin-bottom: 0;
        background-color: lightgrey;
        border-radius: 50px;
        padding: 3px;
        margin: 3px;
        width: 30px;
        height: auto;
        text-align: center;
      }
    }

    }
  }
}
