
@media only screen and (max-width: 320px) {
    .pageList {
        display: none !important;
    }

    #bars {
        display: inline !important;
        font-size: 25px; 
        margin: 0 5px;
    }

    #basketIcon {
        display: none;
    }

    nav {
        display: none !important;
    }

    .mainHeader {
        margin: 0 !important;
        position: fixed;
    }

    main .container {
        display: flex;
        justify-content: center;
        flex-direction: column-reverse !important;
        align-items: center;
        text-align: center;
    }

}


@media only screen and (max-width: 375px) {
    .pageList {
        display: none !important;
    }

    #bars {
        display: inline !important;
        font-size: 25px; 
        margin: 0 5px;
    }

    #basketIcon {
        display: none;
    }

    nav {
        display: none !important;
    }

    .mainHeader {
        margin: 0 !important;
        position: fixed;
    }

    main .container {
        display: flex;
        justify-content: center;
        flex-direction: column-reverse !important;
        align-items: center;
        text-align: center;
    }

}


@media only screen and (max-width: 414px) {
    .pageList {
        display: none !important;
    }

    #bars {
        display: inline !important;
        font-size: 25px; 
        margin: 0 5px;
    }

    #basketIcon {
        display: none;
    }

    nav {
        display: none !important;
    }

    .mainHeader {
        margin: 0 !important;
        position: fixed;
    }

    main .container {
        display: flex;
        justify-content: center;
        flex-direction: column-reverse !important;
        align-items: center;
        text-align: center;
    }

}


@media only screen and (max-width: 768px) {
    .pageList {
        display: none !important;
    }

    #bars {
        display: inline !important;
        font-size: 25px; 
        margin: 0 5px;
    }

    #basketIcon {
        display: none;
    }

    main .container {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
}

@media only screen and (max-width: 834px) {
    .pageList {
        display: none !important;
    }

    #bars {
        display: inline !important;
        font-size: 25px; 
        margin: 0 5px;
    }

    #basketIcon {
        display: none;
    }
}

@media only screen and (max-width: 1024px) {
    .pageList {
        display: none !important;
    }

    #bars {
        display: inline !important;
        font-size: 25px; 
        margin: 0 5px;
    }

    #basketIcon {
        display: none;
    }
}

@media only screen and (max-width: 1920px) {
    #bars {
        display: none;
    }
}